
@{
    ViewData["Title"] = "MyView";
}

<h2>MyView</h2>


<div class="text-center">
    <strong>@ViewBag.Greeting</strong>
    <p>
        We are about to have a great party.<br>
        We would be pleased if you attend to it.
    </p>
</div>